_*
./*.env
./*.json
./*.md
./*.yml
.dev/
.dockerignore
.git/
.gitattributes
.github/
.gitignore
.terraform/
.wiki/
*.DS_Store
*.env
CODEOWNERS
composer.json
docker-compose*
Dockerfile*
examples/
go.work
go.work.sum
Jenkinsfile*
ops/
qa/
test/
